
body {
    display: flex;
    background-color: bisque;
    font-family: 'smythe';

} 

main{
    display: flex;
    flex-direction: column;
    width:30vw;
    margin: 1vw auto;
    border-radius: 3vw;
    border-bottom: 0;
    background-color: white;
    height: 52vw;
}


header {
    position: relative;
}

.burger{
    width: 30vw;
    height: 10vw;
    border-radius: 2vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.mainName{
    position: absolute;
    top: 1.5vw;
    left: 2.5vw;
    font-weight: 700;
    font-size: 2vw;
    color:blanchedalmond
    }

.best{
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    font-weight: 700;
    font-size: 1vw;
    color:blanchedalmond
    }

.fa-solid{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 3vw;
    color: whitesmoke;
    background-color: grey;
    border-radius: 50%;
}  

.fa-solid:hover, .fa-solid:active{
    color: grey;
    background-color: whitesmoke;
    font-size: 3.3vw;
}

.fa-solid, .priceOrder{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

p{
    margin: 0.7vw;
}

.icon{
        font-size: 4vw;
        height: 4vw;
        margin: auto 0;
    }

.sec {
    display: flex;
    gap: 1vw;
    border-bottom: 1px solid darkgrey;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin: 1vw 3vw;

}    

.inside{
    color: darkgrey;
    font-size: 1vw;
}

.nameItem{
    font-size: 1.3vw;
}


.yourOrder{
    display: none;
    margin: 1vw 0;   
}


h3{
   margin:auto; 
}

.order{
    display: flex;
    flex-direction: row;
    margin: 0vw 3vw;


}

.order>p{
    margin-top: 0.2vw;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    margin: 0.5vw 3vw 0 3vw;
    border-top: 1px solid darkgray;
}

#complete{
    width: 25vw;
    height: 2.5vw;
    margin: 0vw auto 1vw auto;
    background-color: #16DB99;
    border: none;
    border-radius: 1vw;
    color: white;
    
}

.remove{
    border: none;
    background-color: white;
    font-size: 1vw;
    color: lightgrey;
    margin: 0 0;
}

#complete:hover, #complete:active {
    background-color: seagreen;
}

.remove:active{
    color: darkgrey;
}


/* modal */

.modal{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 23vw;
    width: 23vw;
    border: 1px solid black; 
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px rgb(168, 165, 165);
    padding: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    
}
.modal>h2{
    text-align: center;
}

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
}

.modal-submit{
    margin: 0.5vw auto;
    display: block;
    padding: 1vw;
    width: 100%;
    background-color: #16DB99;
    font-weight: bolder;
    color: white;
    border: none;
}

.final{
    background-color: #ECFDF5;
    color: #065F46;
    font-family: 'smythe';
    padding: 1vw ;
    text-align: center;
}


.modalName{
    color: orchid;
}
